*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: "League Spartan";
}

.app {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A4663;
}

.app__logo {
    color: #FFF;
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.533px;
    margin-bottom: 31px;
}

.app__main {
    width: 480px;
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.app__main-button {
    height: 64px;
    width: 100%;
    border-radius: 10px;
    background: #EAE3DC;
    box-shadow: 0px -4px 0px 0px #B3A497 inset;
    color: #434A59;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.667px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__main-button-outer-container {
    width: 30vw;
    height: auto;
    padding: 32px 30px;
    border-radius: 10px;
    background: #242D44;
    display: flex;
    flex-direction: column;
    gap: 25px
}

.app__main-button-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px
}

.special-button {
    border-radius: 10px;
    background-color: #647198;
    box-shadow: 0px -4px 0px 0px #414E73 inset;
    height: 64px;
    width: 100%;
    color: #EAE3DC;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: -0.667px;
}

.app__main-display {
    width: 30vw;
    padding: 0px 30px;
    height: 128px;
    border-radius: 10px;
    background: #181F33;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #FFF;
    text-align: right;
    font-family: League Spartan;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.933px;
}

.app__main-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
}

.app__main-equal {
    width: 100%;
    height: 64px;
    border-radius: 10px;
    background: #D03F2F;
    box-shadow: 0px -4px 0px 0px #93261A inset;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.467px;
    display: flex;
    justify-content: center;
    align-items: center;
}